
<div class="card-box">
    <div class="row">
        <div class="col-sm-4">
            <a routerLink="Create" id="addbtn" class="btn btn-success btn-rounted">Add New</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered" id="datatable" role="grid">
            <thead class="bg-primary text-white">
                <tr role="row">
                    <th>Code</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of customerData">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.gender}}</td>
                    <td>
                        <button routerLink="Edit/{{item.id}}" class="btn btn-primary">Edit</button> |
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>